
/* ---------------- Reset ---------------- */
* {
    box-sizing: border-box;

}

img {
    width: 100px;
}


/* ---------------- Nav Bar ---------------- */
.navbar-dark .navbar-nav .nav-link {
    color: aliceblue;
}

#logo {
    width: 90px;
    border-radius: 50%;
}

.bg-dark {    
    background-color:rgba(0, 0, 0, .5)!important;     
    background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0), rgba(255, 255, 255, 3));
} 

header {
    width: 100%;
    height: 550px;     
    background-image: url("../img/encabezado.jpg");   
    background-repeat: no-repeat;
}


.container-header{ 
    width: 100%;   
    padding-top: 110px;
    text-align: center;
}

.container-slogan{   
    width: 300px;   
    margin-left: auto;
    margin-right: auto; 
}

.contenido-booking {
       width: 150px;
       margin-top:50px;

}

.padre {
    display: flex;
}

#booking{
    background-color: rgba(255, 255, 255, .5);
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 20px;
   
     
}

