
/* -------------------------------------------------- Reset --------------------------------------------------- */
* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth !important;
    
}


body {
    text-align: center;
}

.row {
    margin: 0;
}

img {
    width: 100px;
}


/* --------------------------------------------------- HEADER ------------------------------------------------- */
.navbar-dark .navbar-nav .nav-link {
    color: aliceblue;
}

.nav-link:hover {
    color: rgb(0, 0, 0) !important;
}

.idioma-img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

.navbar {
padding-right: 20px;
}

#logo {
    width: 90px;
    border-radius: 50%;
}

.bg-dark {    
    background-color:rgba(0, 0, 0, .5)!important;     
    background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0), rgba(255, 255, 255, 3));
} 

header {
    width: 100%;
    height: 550px;     
    background-image: url("../img/encabezado.jpg");   
    background-repeat: no-repeat;
    background-size: cover;
}


.container-header{ 
    padding-top: 120px;

    width: 100%;   

    text-align: center;
}

.container-slogan{   
    margin-top: 120px;

    width: 400px;
    margin-left: auto;
    margin-right: auto; 

    padding: 20px;

    background-color: rgba(255, 255, 255, .5);
}

.parrafo-check-in {
    width: 100%;
}

.container-booking {
    margin-top: 20px;

    width: 350px;
    margin-left: auto;
    margin-right: auto; 

    padding: 10px;

    background-color: rgba(255, 255, 255, .5);
}

.fila-booking {
    display: flex;
    padding-bottom: 20px;
}

.columna-booking {
    width: 100%;
    margin-left: auto;
    margin-right: auto; 

    justify-content: left;
}

.columna-booking-rigth {
    padding-left: 20px;
}

.nav-item {
    font-size: 1.2rem;
    padding-left: 0.5rem;
}

#titulo-complejo {
    font-size: 2.5rem;
    margin-left: 3rem;
}

h3 {
    font-family: 'Old Standard TT', serif;
}

.container-booking h3 {
    font-size: 1.5rem;
    text-align: left;
}

.fecha {
    width: 100%;

}

.cantidad {
    width: 100%;
}

.btn-consulta {
    color: white;
    font-weight: bold;
}

.btn-checkin a{
    color: white;
    font-weight: bold;
}

#mensaje-reserva {
    width: 100%;
    font-size: 1rem;
}

/* ---------------------------------------------- MEDIA QUERY --------------------------------------------------- */

@media (max-width: 991px) {
    .container-slogan {
        margin-top: 50px;
        margin-bottom: 10px;
    }

    header {
        height: 800px;   
    }

}

@media (max-width: 500px) {
    .container-slogan {
        margin-top: 160px;
        width: 100%;
    }

    .container-booking {
        width: 100%;
    }

}

/* ------------------------------------------------- SECCIONES ------------------------------------------------------ */

section {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 2%;
       
}

h2 {
    font-family: 'Old Standard TT', serif;
    font-size: 2rem;
}

p {
   width: 50%;
   margin-left: auto;
   margin-right: auto;
   font-size: 1.5rem;
}


/* ------------------ Complejo ---------------  */
#complejo {
    background-image: url("../img/Fondos/fondoSeccion.jpg");
   
}

.galeria-complejo-img {
    width: 220px;
}

.galeria-complejo-img:hover {
    transform: scale(1.1);
    transition-duration: 500ms;
}

/* --------------- Categorias-------------------  */

.carousel-item-categoria {
    overflow: hidden;
    width: 100%;
    height: 220px;
}

.card-deck {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.card-text {
    width: 100%;
}

.text-muted {
    cursor: pointer;
}

.dropup .dropdown-toggle {
    color: black;
}


/* ----- Servicios -----  */
#servicios {
    background-image: url("../img/Fondos/fondoSeccion.jpg");
   
}

.galeria {
    padding-left: 10%;
    padding-right: 10%;
}

/* ----- Atracciones -----  */
.galeria-atracciones {
    padding-left: 30%;
    padding-right: 30%;
    
}

.carousel-item-atracciones {
    height: 350px;
}


/* ----- Contacto -----  */
#contacto {
    background-image: url("../img/Fondos/fondoSeccion.jpg");
   
}

.cont-form {
    width: 700;
}

.input-form {
    width: 200px;
    margin-bottom: 20px;
}

#nombre-apellido {
    margin-left: 0;
    margin-right: 20px;
}

#email {
    margin-right: 20px;

}

#telefono {

}

.msg-form {
    width: 650px;
    margin-left: 0;
    margin-bottom: 12px;    
}

.btn-enviar {
    color: white;
    font-weight: bold;
    width: 150px;
    margin-top: 0;
}

